/* START CSS VIDEO CAROUSEL */
.videos_container{
    width: 100%;
    height: 100vh;
    margin: auto;
    display: inline-block;
}
.videos_container .slide_carousel{
	position: absolute;
	left:0;
	top:0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	z-index:1; 
	display:none;
	animation: scale 2s ease;
}
.videos_container .slide_carousel.active{
	display: flex;
}
.videos_container .slide_carousel iframe, .videos_container .slide_carousel img{
    object-fit: cover;
    vertical-align: middle;
    object-position: center;
    width: 100%;
}
@keyframes scale{
	0%{
		transform:scale(1.1);
	}
	100%{
		transform: scale(1);
	}
}
.videos_container .slide_carousel.active .caption h1{
	opacity:0;
	animation: captionText .5s ease forwards;
	animation-delay:1s;
}
.videos_container .caption p{
	font-size: 18px;
	margin:15px 0 30px;
	color:#222222;
}
.videos_container .slide_carousel.active .caption p{
	opacity:0;
	animation: captionText .5s ease forwards;
	animation-delay:1.2s;
}
.videos_container .caption a{
 display: inline-block;
 padding:10px 30px;
 background-color: #000000;
 text-decoration: none;
 color:#ffffff;
}
.videos_container .slide_carousel.active .caption a{
	opacity:0;
	animation: captionText .5s ease forwards;
	animation-delay:1.4s;
}
@keyframes captionText{
	0%{
		opacity:0; transform: translateX(-100px);
	}
	100%{
	 opacity:1; transform: translateX(0px);	
	}
}
.videos_container .controls .prev,
.videos_container .controls .next{
 position: absolute;
 z-index:2;
 top:50%;
 height:40px;
 width: 40px;
 margin-top: -20px;
 color:#ffffff;
 background-color: #FF5722;
 text-align: center;
 line-height: 40px;
 font-size:20px;
 cursor:pointer;
 transition: all .5s ease;
}
.videos_container .controls .prev:hover,
.videos_container .controls .next:hover{
	background-color: #000000;
}
.videos_container .controls .prev{
 left:0;
}
.videos_container .controls .next{
 right:0;
}
.videos_container .indicator{
	position: absolute;
	left:50%;
	bottom:30px;
	z-index: 2;
	transform: translateX(-50%);
}
.videos_container .indicator div{
	display: inline-block;
	width:25px;
	height: 25px;
	color:#ffffff;
	background-color: #FF5722;
	border-radius:50%;
	text-align: center;
	line-height: 25px;
	margin:0 3px;
}
.videos_container .indicator div.active{
 background-color: #000;
}
/*responsive*/
@media(max-width: 767px){
	.controls{
		display: none;
	}
}
/*END CSS VIDEO CAROUSEL */