.icon{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-size: cover;
    position: absolute;
}
.logo{
    display: inline-block;
    width: 65px;
    height: 65px;
    background-size: cover;
    position: absolute;
}
.white-icon{
    filter: brightness(0) invert(1);
}
.blue-icon{
    filter: invert(93%) sepia(60%) saturate(520%) hue-rotate(148deg) brightness(85%) contrast(93%);
}
.address{
    background-image: url(../content/icon/address.svg);
}
.beach{
    background-image: url(../content/icon/beach.svg);
}
.biography{
    background-image: url(../content/icon/biography.svg);
}
.birth{
    background-image: url(../content/icon/birth.svg);
}
.blog{
    background-image: url(../content/icon/blog.svg);
}
.email{
    background-image: url(../content/icon/email.svg);
}
.game{
    background-image: url(../content/icon/game.svg);
}
.gathering{
    background-image: url(../content/icon/gathering.svg);
}
.handphone{
    background-image: url(../content/icon/handphone.svg);
}
.home{
    background-image: url(../content/icon/home.svg);
}
.instagram{
    background-image: url(../content/icon/instagram.svg);
}
.linkedin{
    background-image: url(../content/icon/linkedin.svg);
}
.music{
    background-image: url(../content/icon/music.svg);
}
.playing{
    background-image: url(../content/icon/playing.svg);
}
.portfolio{
    background-image: url(../content/icon/portfolio.svg);
}
.twitter{
    background-image: url(../content/icon/twitter.svg);
}
.whatsapp{
    background-image: url(../content/icon/whatsapp.svg);
}
.writing{
    background-image: url(../content/icon/writing.svg);
}
.youtube{
    background-image: url(../content/icon/youtube.svg);
}