@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap");

body {
  font-family: "Roboto", "Times New Roman", Times, serif;
}

#navbar_header {
  position: fixed;
  margin: 0;
  padding: 0;
  right: 0;
  z-index: 100;
}
#main_content {
  width: 100%;
  z-index: 98;
  position: relative;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0, rgba(255, 255, 255, 0.1) 100%);
}
#navbar_footer {
  width: 100%;
  z-index: 98;
  position: relative;
}
/*HEADER NAVBAR START */
#navbar_hamburger_menu {
  top: 1em;
  opacity: 75%;
  width: 50px;
  height: 50px;
  border-radius: 0.25rem !important;
  display: block;
  text-align: center;
  position: relative;
  z-index: 100;
}
#indicator_toggler {
  color: white;
  top: 5px;
  position: relative;
}
#hr_mainMenu {
  width: 100%;
  color: whitesmoke;
  height: 5px;
}
#navbar_list_menu {
  position: fixed;
  color: whitesmoke;
  z-index: 99;
  top: 0;
  right: 0;
  width: 250px;
  height: 100%;
  transition: all 0.4s ease 0s;
  transform: translateX(250px);
  background: #1d809f;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}
#navbar_list_menu.active {
  right: 250px;
  width: 250px;
  transition: all 0.4s ease 0s;
}
#list_main_menu,
.navbar_list_menu {
  width: 100%;
}
.navbar_list_menu {
  top: 0;
  position: fixed;
}
#list_main_menu > li > a {
  padding: 1em 2em;
  color: whitesmoke;
}
#list_main_menu > li:hover {
  background-color: #249dc2;
}
.img_carousel {
  min-width: 100%;
  max-height: 100vh;
  text-align: center;
  transition: all 0.4s ease 0s;
}
.img_carousel.active{
  transition: all 0.4s ease 0s;
}
.img_carousel > img {
  width: inherit;
  object-fit: cover;
}
.carousel-caption > .list-inline > .list-inline-item > .social-link {
  display: block;
  height: 2rem;
  width: 2rem;
  line-height: 2rem;
  font-size: 1rem;
  background-color: #1d809f;
  transition: background-color 0.15s ease-in-out;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}
.carousel-caption > .list-inline > .list-inline-item > .social-link:hover {
  background-color: #249dc2;
}
#caption_aboutme {
  color: whitesmoke;
  background-color: rgba(52, 58, 64, 0.5);
}
.btn-xl {
  padding: 1.25rem 2.5rem;
}
/*HEADER NAVBAR END */
/*MAIN CONTENT START*/
#community_content {
  width: inherit;
  /*height: 100vh;*/
  padding-top: 3em;
  padding-bottom: 3em;
}
.content-section-heading h3 {
  font-size: 1rem;
  text-transform: uppercase;
}
.text-secondary {
  color: #ecb807 !important;
}
.service-icon {
  background-color: #fff;
  color: #1d809f;
  height: 7rem;
  width: 7rem;
  display: block;
  line-height: 7.5rem;
  font-size: 2.25rem;
  box-shadow: 0 3px 3px 0 rgb(0 0 0 / 10%);
}
.icon-images-custom-me {
  max-width: fit-content;
  width: 100%;
  height: 75%;
}
.text-faded {
  color: rgba(255, 255, 255, 0.7);
}
#link_community {
  text-decoration: none;
}
#link_community:hover {
  text-decoration: underline;
}
/* MAGNIFY IMG START */
#conteiner_img_section {
  background-color: #e0e0e0;
  width: 100%;
  height: 100vh;
  position: relative;
  display: block;
  padding: 3em;
}
#img_preview {
  width: inherit;
  text-align: center;
}
/* MULTI CAROUSEL START */
#multiple_carousel_container{
  padding: 2.5em 1em !important;
  width: inherit;
}
#multiple_carousel{
display: inline-flex;
}
#multiple_carousel > .carousel-inner{
  display: flex !important;
  width: 75%;

}
#multiple_carousel > .carousel-inner > .carousel-item{
  display: block !important;
  margin-right: 0.5em !important;
  margin-left: 0.5em !important;
  flex: 0 0 calc(100%/6) !important;
}
#multiple_carousel > .carousel-inner > .carousel-item:hover{
  cursor: pointer;
}
.carousel-control-prev{
  left: 0;
}
.carousel-control-next{
  right: 0;
}
/* MULTI CAROUSEL END */
/* MAGNIFY IMG END */
#projects{
  width: inherit;
  height: 100vh;
}
/*MAIN CONTENT END*/
/*FOOTER START */
.footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
  text-align: center;
  text-decoration: none;
}
.footer > div > p > a {
  text-decoration: none;
}
.footer > div > p > a:hover {
  text-decoration: underline;
}
/*FOOTER END */
a.scroll-to-top {
  position: fixed;
  right: 15px;
  bottom: 15px;
  display: none;
  width: 50px;
  height: 50px;
  text-align: center;
  color: #fff;
  background: rgba(52, 58, 64, 0.5);
  line-height: 45px;
  z-index: 100;
}
a.scroll-to-top:hover {
  background: #171a1c;
}

@media only screen and (max-width: 915px) {
  #conteiner_img_section, #projects{
    height: auto;
  }
  #img_preview{
    display: none;
  }
  #multiple_carousel_container{
    margin: 0 !important;
    padding: 0 !important;
    padding-top: 1em !important;
    width: 100%;
    height: 100%;
  }
  #multiple_carousel > .carousel-inner > .carousel-item{
    margin: 0 !important;
    padding: 0 !important;
    flex: 0 0 calc(100%/1)!important;
  }
  .carousel-control-prev{
    left: 0 !important;
  }
  .carousel-control-next{
    right: 0 !important;
  }
}
@media only screen and (max-width: 914px) {
  #caption_aboutme > h2, #caption_aboutme > a{
    font-size: 16px;
  }
  #caption_aboutme > p{
    font-size: 12px;
  }
  #community_content{
    height: 100vh;
  }
  #img_preview > div > div > img{
    width: 35% !important;
  }
  #multiple_carousel_container{
    padding: 1em !important;
  }
  .card-body > h5, .card-footer > a {
    font-size: 12px;
  }
  .card-body > p, .card-footer > small {
    font-size: 10px;
  }
}
@media only screen and (max-width: 912px) {
  .img_carousel > .carousel-caption{
    width: inherit;
    display: block !important;
    left: 0;
    top: 75% !important;
  }
  #carousel_content > div > .carousel-inner > div > img{
    height: 100vh;
    object-fit: cover;
  }
  .img_carousel > .carousel-caption{
    width: inherit;
    display: block !important;
    left: 0;
    top: 50%;
  }
  #community_content, #certificate, #conteiner_img_section, #projects{
    height: auto;
  }
  #img_preview{
    display: none;
  }
  #multiple_carousel_container{
    margin: 0 !important;
    padding: 0 !important;
    padding-top: 1em !important;
    width: 100%;
    height: 100%;
  }
  #multiple_carousel > .carousel-inner > .carousel-item{
    margin: 0 !important;
    padding: 0 !important;
    flex: 0 0 calc(100%/1)!important;
  }
  .carousel-control-prev{
    left: 0 !important;
  }
  .carousel-control-next{
    right: 0 !important;
  }
}
@media only screen and (max-width: 896px) {
  .img_carousel > .carousel-caption{
    width: inherit;
    display: block !important;
    left: 0;
    top: 25% !important;
  }
}
@media only screen and (max-width: 851px) {
  .img_carousel > .carousel-caption{
    width: inherit;
    display: block !important;
    left: 0;
    top: 25% !important;
  }
}
@media only screen and (max-width: 820px) {
  .img_carousel > .carousel-caption{
    width: inherit;
    display: block !important;
    left: 0;
    top: 50% !important;
  }
}
@media only screen and (max-width: 740px) {
  #carousel_content > div > .carousel-inner > div > img{
    height: 100vh !important;
    object-fit: cover !important;
  }
  .img_carousel > .carousel-caption{
    width: inherit;
    display: block !important;
    left: 0;
    top: 25% !important;
  }
  #community_content{
    height: auto;
  }
  #img_preview{
    display: none;
  }
  #multiple_carousel_container{
    margin: 0 !important;
    padding: 0 !important;
    padding-top: 1em !important;
    width: 100%;
    height: 100%;
  }
  #multiple_carousel > .carousel-inner > .carousel-item{
    margin: 0 !important;
    padding: 0 !important;
    flex: 0 0 calc(100%/1)!important;
  }
  .carousel-control-prev{
    left: 0 !important;
  }
  .carousel-control-next{
    right: 0 !important;
  }
}
@media only screen and (max-width: 720px) {
  .img_carousel > .carousel-caption{
    width: inherit;
    display: block !important;
    left: 0;
    top: 50% !important;
  }
  #carousel_content > div > .carousel-inner > div > img{
    height: 100vh;
    object-fit: cover;
  }
  .img_carousel > .carousel-caption{
    width: inherit;
    display: block !important;
    left: 0;
    top: 50%;
  }
  #community_content{
    height: auto;
  }
  #img_preview{
    display: none;
  }
  #multiple_carousel_container{
    margin: 0 !important;
    padding: 0 !important;
    padding-top: 1em !important;
    width: 100%;
    height: 100%;
  }
  #multiple_carousel > .carousel-inner > .carousel-item{
    margin: 0 !important;
    padding: 0 !important;
    flex: 0 0 calc(100%/1)!important;
  }
  .carousel-control-prev{
    left: 0 !important;
  }
  .carousel-control-next{
    right: 0 !important;
  }
  #projects > div > div > div > .card-group > .card > .card-footer > small{
    display: none;
  }
}
@media only screen and (max-width: 667px) {
  .img_carousel > .carousel-caption{
    width: inherit;
    display: block !important;
    left: 0;
    top: 20% !important;
  }
}
@media only screen and (max-width: 653px) {
  #carousel_content > div > .carousel-inner > div > img{
    height: inherit;
    object-fit: cover;
  }
  .img_carousel > .carousel-caption{
    width: inherit;
    display: block !important;
    left: 0;
    top: 10%;
  }
  #community_content > div > div > h3, #community_content > div > div > div > h4, #conteiner_img_section > div > h3, #projects > div > div > div > div > h3{
    font-size: 12px;
  }
  #community_content > div > div > h2, #conteiner_img_section > div > h2, #projects > div > div > div > div > h2{
    font-size: 16px;
    margin-bottom: 1em !important;
  }
  #community_content > div > div > div > p, #projects > div > div > div > .card-group > .card > .card-footer > a{
    font-size: 10px;
  }
  #projects > div > div > div > .card-group > .card > .card-footer > small{
    display: none;
  }
  #conteiner_img_section{
    padding: 0;
    height: auto;
  }
  #certificate_content{
    padding-top: 1em;
  }
  #img_preview{
    display: none;
  }
  #multiple_carousel_container{
    margin: 0 !important;
    padding: 0 !important;
    padding-top: 1em !important;
    width: 100%;
    height: 100%;
  }
  #multiple_carousel > .carousel-inner > .carousel-item{
    margin: 0 !important;
    padding: 0 !important;
    flex: 0 0 calc(100%/1)!important;
  }
  .carousel-control-prev{
    left: 0 !important;
  }
  .carousel-control-next{
    right: 0 !important;
  }
  #projects{
    height: auto !important;
  }
  #projects > div > div{
    padding-top: 1em !important;
  }
}
@media only screen and (max-width: 540px) {
  .img_carousel > .carousel-caption{
    width: inherit;
    display: block !important;
    left: 0;
    top: 50% !important;
  }
  #community_content{
    height: auto;
  }
  #projects > div > div > div > .card-group > .card > .card-footer{
    display: flex;
  }
  #projects > div > div > div > .card-group > .card > .card-footer > small{
    display: block !important;
    margin-left: 3em;
    margin-top: 1em;
  }
}
@media only screen and (max-width: 414px) {
  .img_carousel > .carousel-caption{
    width: inherit;
    display: block !important;
    left: 0;
    top: 50% !important;
  }
}
@media only screen and (max-width: 412px) {
  #carousel_content, #carousel_content > div, #carousel_content > div > .carousel-inner, #carousel_content > div > .carousel-inner > div{
    width: 100%;
    height: 100vh;
  }
  #carousel_content > div > .carousel-inner > div > img{
    height: inherit;
    object-fit: cover;
  }
  .img_carousel > .carousel-caption{
    width: inherit;
    display: block !important;
    left: 0;
    top: 50% !important;
  }
  #community_content{
    height: 50%;
  }
  #conteiner_img_section{
    padding: 0;
    padding-bottom: 3em !important;
    height: auto;
  }
  #certificate_content{
    padding-top: 3em;
  }
  #img_preview{
    display: none;
  }
  #multiple_carousel_container{
    margin: 0 !important;
    padding: 0 !important;
    padding-top: 3em !important;
    width: 100%;
    height: 100%;
  }
  #multiple_carousel > .carousel-inner > .carousel-item{
    margin: 0 !important;
    padding: 0 !important;
    flex: 0 0 calc(100%/1)!important;
  }
  .carousel-control-prev{
    left: 0 !important;
  }
  .carousel-control-next{
    right: 0 !important;
  }
  #projects{
    height: auto !important;
  }
}
@media only screen and (max-width: 393px) {
  .img_carousel > .carousel-caption{
    width: inherit;
    display: block !important;
    left: 0;
    top: 50% !important;
  }
}
@media only screen and (max-width: 360px) {
  .img_carousel > .carousel-caption{
    width: inherit;
    display: block !important;
    left: 0;
    top: 50% !important;
  }
}