#text-menu{
    color: #fff;
}

.icon-images-custom-me{
    max-width: fit-content;
    width: 100%;
    height: 75%;
}

.border-div-custom-me{
    border-bottom: 1.5px solid #ffffff;
}
#community div div h4 a:hover{
    text-decoration: none !important;
    color: #155d74 !important;
}