@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;1,400;1,500&display=swap");

body {
  background-color: rgba(52, 58, 64, 0.5);
  font-family: "DM Sans", arial, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}
#mycv {
  margin-top: 3em;
  margin-bottom: 3em;
  border-radius: 1.5em;
  border: 5px solid whitesmoke;
  text-align: center;
}
#container_biodata {
  display: block;
  position: relative;
  background-color: #00cccc;
  color: white;
  height: auto;
  border-top-left-radius: 1.12em;
  border-bottom-left-radius: 1.12em;
}
#container_biodata > div > div > div > div > legend,
#container_portfolio > div > div > div > div > legend,
.col.col_mycv > legend {
  text-transform: capitalize;
  font-weight: 500;
}
.col_mycv {
  display: flex;
  flex: 0 0 calc(100% / 3);
}
.col_inline {
  display: inline;
}
.col.col_inline > h6 > a {
  color: white;
  text-decoration: none;
}
.col.col_inline > h6 > a:hover {
  text-decoration: underline;
}
.col.justify-content-center.photo_bio {
  display: inline;
}
#photo_bio {
  display: inline-block;
  margin: 0;
  width: 200px;
  height: 200px;
  background-color: white;
  border-radius: 50%;
}
#photo_bio > img {
  top: 5px;
  position: relative;
  width: 190px;
  height: 190px;
  object-fit: cover;
  border-radius: 50%;
}
.social-link > i {
  top: 15%;
  position: relative;
}
.social-link {
  display: block;
  height: 3rem;
  width: 3rem;
  font-size: 1.5rem;
  background-color: #1d809f;
  transition: background-color 0.15s ease-in-out;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}
.social-link:hover {
  background-color: #249dc2;
}
#hrBio {
  margin-top: 1em;
  background-color: white;
  display: inline-block;
  position: relative;
  width: 100%;
  border-radius: 100%;
  height: 3px;
}
#keahlian_bio {
  justify-items: center;
  position: relative;
  display: inline-block;
}
#keahlian_bio > h6 {
  width: fit-content;
  text-align: left;
}
#hrPort {
  margin-top: 1em;
  background-color: #00cccc;
  display: inline-block;
  position: relative;
  width: 100%;
  border-radius: 100%;
  height: 3px;
}
#container_portfolio {
  display: block;
  position: relative;
  background-color: whitesmoke;
  height: auto;
  border-top-right-radius: 1.12em;
  border-bottom-right-radius: 1.12em;
}
#portfolio_content > div {
  display: inline-block;
  width: 100%;
  position: relative;
}
#portfolio_content > div > div > legend,
.border_blue_portfolio > div > div > div > h6,
.border_blue_portfolio > div > table > tbody > tr > td > h6 {
  color: #00cccc !important;
}
.border_blue_portfolio > div > table > tbody > tr > td > p {
  margin-bottom: 5px;
  margin-left: 5px;
}
.border_blue_portfolio > div > table {
  display: inline-block;
  position: relative;
}
.border_blue_portfolio {
  border-left: 3px solid #00cccc;
  border-bottom: 3px solid #00cccc;
  margin-bottom: 1.5em;
}
a.scroll-to-top {
  position: fixed;
  right: 15px;
  bottom: 15px;
  display: none;
  width: 50px;
  height: 50px;
  text-align: center;
  color: #fff;
  background: rgba(52, 58, 64, 0.5);
  line-height: 45px;
  z-index: 100;
}
a.scroll-to-top:hover {
  background: #171a1c;
}
.menu {
  position: fixed;
  width: 50px;
  height: 45px;
  top: 30%;
  background-color: #00cccc;
  border-bottom: rgba(255, 255, 255, 0.5) dotted 3px;
  right: 0;
  z-index: 100;
  display: inline-block;
}
.menu > a {
  color: whitesmoke;
  top: 15%;
  padding: 0.5em 0.75em;
  position: relative;
  font-size: 20px;
}
.menu > a:hover {
  background-color: hsl(180, 98%, 34%);
  border-bottom: rgba(255, 255, 255, 0.5) dotted 3px;
}
@media only screen and (max-width: 915px) {
}
@media only screen and (max-width: 914px) {
}
@media only screen and (max-width: 912px) {
}
@media only screen and (max-width: 896px) {
}
@media only screen and (max-width: 851px) {
}
@media only screen and (max-width: 820px) {
}
@media only screen and (max-width: 740px) {
  #mycv {
    margin: 0;
    border: 0;
    max-width: 100%;
  }
  #container_biodata {
    width: 100%;
    border-radius: 0;
  }
  #container_portfolio {
    border-radius: 0;
  }
}
@media only screen and (max-width: 720px) {
  #mycv {
    margin: 0;
    border: 0;
    max-width: 100%;
  }
  #container_biodata {
    width: 100%;
    border-radius: 0;
  }
  #container_portfolio {
    border-radius: 0;
  }
}
@media only screen and (max-width: 667px) {
}
@media only screen and (max-width: 653px) {
  #container_biodata {
    width: 100%;
    border-bottom-left-radius: 0;
    border-top-right-radius: 1.12em;
  }
  #container_portfolio {
    border-top-right-radius: 0;
    border-bottom-left-radius: 1.12em;
  }
}
@media only screen and (max-width: 540px) {
  #mycv {
    margin: 0;
    border: 0;
  }
  #container_biodata {
    border-radius: 0;
  }
  #container_portfolio {
    border-radius: 0;
  }
}
@media only screen and (max-width: 414px) {
}
@media only screen and (max-width: 412px) {
  #mycv,
  #container_biodata,
  #container_portfolio {
    margin: 0;
    border: 0;
    border-radius: 0;
  }
  #container_biodata {
    width: 100%;
  }
}
@media only screen and (max-width: 393px) {
}
@media only screen and (max-width: 360px) {
}
