slider{
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
}
slider > *{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    animation: slide 12s infinite;
    overflow: hidden;
}
slide img{
  width: 100%;
  height: 100vh;
}
slide p{
    font-family: Comfortaa;
    font-size: 70px;
    text-align: center;
    display: inline-block;
    width: 100%;
    position: relative;
}
slide:nth-child(1){
    left: 0%;
    animation-delay: 0s;
    background-size: cover;
    object-fit: cover;
    object-position: center;
    background-position: center;
    vertical-align: middle;
}
slide:nth-child(2){
    left: 0%;
    animation-delay: 3s;
    background-size: cover;
    object-fit: cover;
    object-position: center;
    background-position: center;
    vertical-align: middle;
}
@keyframes slide{
    0% {
        left: 100%;
        width: 100%;
    }
    5%{
        left: 0%;
    }
    25%{
        left: 0%;
    }
    30%{
        left: -100%;
        width: 100%;
    }
    30.0001%{
        left: -100%;
        width: 0%;
    }
    100%{
        left: 100%;
        width: 0%;
    }
}

/* START CSS SLIDER */
.slider_container {
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
  }
  .slider_slideshow {
    display: flex;
    height: 100%;
  }
  .slider_slideshow slider slide .caption{
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
  .slidesShow {
    min-width: 100%;
    position: relative;
  }
  .slidesShow img {
    width: 100%;
    height: 100%;
  }
  .slide-controls {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #next-btn,
  #prev-btn {
    cursor: pointer;
    background: transparent;
    font-size: 30px;
    border: none;
    padding: 10px;
    color: white;
  }
  #next-btn:focus,
  #prev-btn:focus {
    outline: none;
  }
  .slide-content {
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translateY(-50%);
    font-size: 60px;
    color: white;
  }  
/* END CSS SLIDER */